*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

nav{
    display: flex;
    background: orangered;
    align-items: center;
    width: 100%;
    height:60px;
}
.glub a{
    margin-left: 200px;
    text-decoration: none;
    align-items: center;
    list-style: none;
    margin:0 20px;
    color:black;
    float:right;
}
.logout a{
    margin-left: 200px;
    text-decoration: none;
    align-items: center;
    list-style: none;
    margin:0 20px;
    color:black;
    float:right;
}

h5#fullname{
    text-decoration: none;
    text-align: center;
    list-style: none;
    margin:0 20px;
    color:black;
    float: left;
}
.brand img{
    justify-content: left;
    width: 60px;
    height: 60px;
}

h2[title]{
    justify-content: center;
    text-align: center;
    list-style: none;
    margin:0 20px;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: move 35s linear infinite;
}

table,tr,th{
    margin: 0 550;
   width: 400px;
   height: 50px;
   border: 1px solid black;
   padding: 0;
}

.button{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0 0 0);
    text-decoration: none;
    color: #fff;
    padding: 10px 35px;
    transition: .3s;
}

body{
    background-image: url(https://img.freepik.com/premium-photo/simple-white-background-with-smooth-lines-light-colors_476363-5558.jpg?w=1060);
}

table{
    border-collapse: collapse;
    width: 400px;
  }
  th, td{
    padding: 15px;
    text-align: left;
    color: black;
    border-bottom: 3px solid #ddd;
  }
  tr:nth-child(even){
    background-color: rgb(180, 180, 211);  
  }

.link{
    text-decoration: none;
    align-items: center;
    list-style: none;
    margin:0 20px;
    color:black;
}

.link a{
    text-decoration: none;
    align-items: center;
    list-style: none;
    margin:0 20px;
    color:black;
    float:right;
}
.custom-selecor{
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #888;
    
}

.custom-selecor select {
    width: 200px;
    min-height: 35px;
    background: #cbe7ff;
    border-radius: 3px;
    border: 2px solid #2196f3;
    outline: none;
    padding: 0 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 5px;
    appearance: none;
    align-items: center;
}

.custom-selecor::after{
    margin: 0 550;
    content:'';
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #222;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 2px;
    align-items: center;

}


.button .button1{
    height: 40px;
    width: auto;
    background:wheat;
    border: 1px solid gainsboro;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
    outline: none;
    color: black;
}
.button .button2{
    height: 40px;
    width: auto;
    background:wheat;
    border: 1px solid gainsboro;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
    outline: none;
    color: black;
}
.button .button3{
    height: 40px;
    width: auto;
    background:wheat;
    border: 1px solid gainsboro;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: .5s;
    outline: none;
    color: black;
}
.button button:hover{
    background: white;
    color: green;
    border: 1px solid green;
}